@font-face {
  font-family: Fabrica;
  src: local(Fabrica), url('../fonts/Fabrica/Fabrica.otf') format('opentype');
}
@font-face {
  font-family: Forum;
  src: local(Forum), url('../fonts/Forum/Forum-Regular.ttf') format('opentype');
}
@font-face {
  font-family: Nevis;
  src: local(Nevis), url('../fonts/Nevis/nevis.ttf') format('opentype');
}
@font-face {
  font-family: Dancing;
  src: local(Dansing), url('../fonts/Dancing/Dancing Script.ttf') format('opentype');
}
.forum-font {
  font-family:Forum;
}

.title-font {
  font-family:Dancing;
}
